<h2 id="reporter-h2">{{ reporter }} has made {{ report_count }} report{{ report_count|pluralize }}</h2>

{{ recent_report_datetimes|json_script:"recent_report_datetimes" }}

<svg id="recent-reports"></svg>
<script src="https://d3js.org/d3.v6.min.js"></script>
<script>
var reportDates = JSON.parse(
  document.getElementById('recent_report_datetimes').textContent
).map(d => new Date(d));
(function() {
  let width = document.getElementById('reporter-h2').offsetWidth;
  var xScale = d3
    .scaleTime()
    .domain(d3.extent(reportDates))
    .range([15, width - 15]);

  var xAxis = d3.axisBottom(xScale);

  var svg = d3.select('#recent-reports');

  svg
    .attr("width", width)
    .attr("height", 80)
    .append("g")
    .attr("transform", "translate(0,40)")
    .call(xAxis);

  svg
    .selectAll("circle")
    .data(reportDates)
    .enter()
    .append("circle")
    .attr("r", 3)
    .attr("fill", "black")
    .attr("opacity", 0.4)
    .attr("cx", d => xScale(d))
    .attr("cy", 30);
})();
</script>

<p><strong>Recent reports</strong> (<a href="/admin/core/report/?reported_by__exact={{ reporter.id }}">view all</a>)</p>

{% for report in recent_reports %}
    <p>
      <a href="/admin/core/location/{{ report.location.id }}/change/">{{ report.location }}</a>
      Tagged
      {% for tag in report.availability_tags.all %}<strong>{{ tag }}</strong>{% if not forloop.last %}, {% endif%}{% endfor %}
      on <a href="/admin/core/report/{{ report.pk }}/change/">{{ report.created_at }}</a>
    </p>
{% endfor %}
