{% extends "admin/base_site.html" %}

{% block extrastyle %}
<style type="text/css">
/* Hide scary red soft-deleted and pending-review icons
   https://github.com/CAVaccineInventory/vial/issues/144
*/
td.field-soft_deleted img[src$="icon-no.svg"],
td.field-is_pending_review img[src$="icon-no.svg"] {
    opacity: 0;
}
/* Wrapping for diff views
   https://github.com/CAVaccineInventory/vial/issues/147
*/
pre.highlight {
    white-space: pre-wrap;
}
/* No text wrapping in reports table
   https://github.com/CAVaccineInventory/vial/issues/239
*/
body.app-core.model-report #result_list .nowrap {
    white-space: normal;
}
textarea#id_full_address {
    height: 6em;
}
</style>
{{ block.super }}
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% if is_staging %}
    <div style="padding: 0 15px 5px 15px; background-color: red; color: white;">
        <strong>Warning</strong>
        <p>This site is <a href="https://github.com/CAVaccineInventory/vial" style="text-decoration: underline">a staging environment</a>. Any edits you make here will not be permanently saved!</p>
    </div>
{% endif %}
{% endblock %}

{% block footer %}
<div id="footer"></div>
<script>
window.addEventListener("load", () => {
    let changelistFilter = jQuery('#changelist-filter');
    let x = jQuery('<a href="#">X</a>');
    x.css({
        display: "inline",
        position: "absolute",
        right: '25px',
        color: 'white'
    });
    x.click(() => {
        changelistFilter.remove();
        return false;
    });
    changelistFilter.find("h2").append(x);
});
</script>
{% endblock %}