{% extends "admin/base.html" %}

{% block extrastyle %}
<style type="text/css">
/* Hide scary red soft-deleted icon
   https://github.com/CAVaccineInventory/vial/issues/144
*/
td.field-soft_deleted img[src$="icon-no.svg"] {
    opacity: 0;
}
/* Wrapping for diff views
   https://github.com/CAVaccineInventory/vial/issues/147
*/
pre.highlight {
    white-space: pre-wrap;
}
</style>
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% if is_staging %}
    <div style="margin-top: 10px; padding: 5px; background-color: red; color: white;">
        <strong>Warning</strong>
        <p>This site is <a href="https://github.com/CAVaccineInventory/vial" style="text-decoration: underline">a staging environment</a>. Any edits you make here will not be permanently saved!</p>
    </div>
{% endif %}
{% endblock %}
