{% extends "admin/change_form.html" %}

{% block field_sets %}
  {% if original.soft_deleted %}
    <p class="soft-deleted">
      This {{ location }} has been <strong>soft deleted</strong>
    </p>
  {% endif %}

  {% include "admin/pending_and_claimed_snippet.html" with name="location" %}

  {{ block.super }}

{% endblock field_sets %}

{% block submit_buttons_bottom %}
  {% load admin_modify %}
    {% if your_pending_claimed_locations > 1 %}
      <input type="submit" value="Save and review next pending locations ({{ your_pending_claimed_locations|add:"-1" }} remaining)" name="_review_next" current_location="{{ original.id }}">
    {% endif %}
  {% submit_row %}
{% endblock submit_buttons_bottom %}