{% extends "admin/change_form.html" %}

{% block extrahead %}{{ block.super }}
<style>
#report_form > div > fieldset:first-of-type {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
</style>
{% endblock %}

{% block field_sets %}

  {% include "admin/pending_and_claimed_snippet.html" with name="report" %}

  {{ block.super }}

{% endblock field_sets %}

{% block submit_buttons_bottom %}
  {% load admin_modify %}
    {% if num_claimed > 1 %}
      <input type="submit" value="Save and review next pending report ({{ num_claimed|add:"-1" }} remaining)" name="_review_next">
    {% endif %}
  {% submit_row %}
{% endblock submit_buttons_bottom %}
