{% extends "admin/base_site.html" %}
{% block title %}Administrative tools (super-user only){% endblock %}
{% block content %}
<h1>Administrative tools (super-user only)</h1>


{% if error %}
    <p style="background-color: red; color: white; padding: 0.5em">
        {{ error }}
    </p>
{% endif %}

{% if message %}<p style="background-color: lightyellow; padding: 0.5em; border: 1px solid orange;"><strong>{{ message }}</strong></p>{% endif %}

<h2>Import county details from Airtable backup</h2>

<p>Use this tool to import manually collected data about counties from Airtable.</p>

<p>Navigate to <a href="https://github.com/CAVaccineInventory/airtable-data-backup/blob/main/backups/Counties.json">https://github.com/CAVaccineInventory/airtable-data-backup/blob/main/backups/Counties.json</a> and click on the "Raw" link. This should produce a URL that looks something like this:</p>

<p><code>https://raw.githubusercontent.com/CAVaccineInventory/airtable-data-backup/main/backups/Counties.json?token=...token</code></p>

<form action="{{ request.path }}" method="POST">
    {% csrf_token %}
    <p><label for="id_airtable_counties_url">Copy and paste that URL with the token here:</p>
    <p>
        <input id="id_airtable_counties_url" type="text" name="airtable_counties_url" size="100">
    </p>
    <p>
        <input type="submit" value="Import Airtable county details">
    </p>
</form>

<h2>Import VTS priorty number for counties from csv file</h2>
<p>Use this tool to import manually collected data about the VTS priorty number (derived from the CDC's Social vulnerability index) for each county.</p>
<p>In order to be processed correctly the csv should have:
    <ul>
        <li>Headers named <strong>"VTS priority"</strong> and <strong>"FIPS"</strong></li>
        <li>FIPS column values must have 5 digits. Ex. "04444", not "4444"</li>
    </ul>
</p>
<form enctype="multipart/form-data" action="{{ request.path }}" method="POST">
    {% csrf_token %}
    <label for="id_vts_priorty_numbers">Choose the CSV file to upload</label>
    <input id="id_vts_priorty_numbers" type="file" accept=".csv" name="vts_priorty_numbers"><br><br>
    <input type="submit" value="Import County VTS priorty values">
</form>

<h2>Management commands</h2>
<h3>Import counties</h3>
<p>Import the full list of 3,000+ counties from <a href="https://us-counties.datasette.io/counties/county_fips">us-counties.datasette.io/counties/county_fips</a> - see <a href="https://github.com/CAVaccineInventory/vial/issues/88">issue 88</a></p>
<p><strong>Warning:</strong> This command can take a long time to run!</p>
<form action="{{ request.path }}" method="POST">
{% csrf_token %}
<p>
    <input type="hidden" name="command" value="import_counties">
    <input type="submit" value="Import 3,000+ counties">
</p>
</form>
{% if output %}<pre>{{ output }}</pre>{% endif %}
{% endblock %}
