django
social-auth-app-django
python-jose
python-dotenv
pytest-django
black
psycopg2-binary
dj-database-url
whitenoise
gunicorn
sentry-sdk
github-contents
requests-mock
time-machine
pydantic
click
httpx
python-dateutil
pip-tools
