# Update requirements.txt after making changes to this file, by
# running:
#     ./scripts/update-requirements
#
# To upgrade pinned versions, run:
#     ./scripts/update-requirements --upgrade

# Core django
django==3.1.8

# Server
gunicorn

# Serve static files from wsgi; used in development, not production
whitenoise

# PostgreSQL backend
psycopg2-binary

# Verify that migrations are backwards compatable
django-migration-linter

# Easy reconfiguration of
dj-database-url

# Read .env files of secrets, and those from GCP secrets
google-cloud-secret-manager
python-dotenv

# Typing and validation on data
pydantic

# Authentication
social-auth-app-django

# CORS for our /api/
django-cors-headers

# Cryptography for JWT parsing and validation
python-jose

# Error logging
sentry-sdk

# Observability
honeycomb-beeline

# Better interactive shell
ipython

# Django automatic model documentation
docutils

# Markdown documentation
Markdown

# SQL dashboard at /dashboard/
django-sql-dashboard==0.10a1

# Version history in Django admin
django-reversion
django-reversion-compare

# Custom menus for Django admin interface
django-admin-tools

### Development

# Debug toolbar (dev only, not production)
django-debug-toolbar>=3.2.1

# Testing
pytest-django
pytest-cov
pytest-dotenv
requests-mock
time-machine
pytest-httpx

# Formatting
black
isort
pyflakes

# Dependency management
pip-tools

# Importing data from github snapshots
github-contents

# Used for import-from-CSV command line tool
click
httpx
python-dateutil

# To upload the API export to GCS
google-cloud-storage

# Metrics reporting
prometheus_client
