<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>VaccinateCA</title>
    <style>
      main {
        margin-top: 6em;
        text-align: center;
        font-family: Helvetica, sans-serif;
      }
    </style>
  </head>
  <body id="app-unspecified">
    <main>
      <p><img src="https://help.vaccinateca.com/assets/img/logo.png" alt="VaccinateCA" /></p>
      <p><a href="/login/auth0">Sign in</a> (staff members only)</p>
    </main>
  </body>
</html>
